<a href="https://colab.research.google.com/github/omeruncu1/Credit-Card-Approval-Prediction/blob/main/Credit_Card_Approval_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Credit Card Approval Prediction

**About Dataset**

**Context**

Credit score cards are a common risk control method in the financial industry. It uses personal information and data submitted by credit card applicants to predict the probability of future defaults and credit card borrowings. The bank is able to decide whether to issue a credit card to the applicant. Credit scores can objectively quantify the magnitude of risk.

Generally speaking, credit score cards are based on historical data. Once encountering large economic fluctuations. Past models may lose their original predictive power. Logistic model is a common method for credit scoring. Because Logistic is suitable for binary classification tasks and can calculate the coefficients of each feature. In order to facilitate understanding and operation, the score card will multiply the logistic regression coefficient by a certain value (such as 100) and round it.

At present, with the development of machine learning algorithms. More predictive methods such as Boosting, Random Forest, and Support Vector Machines have been introduced into credit card scoring. However, these methods often do not have good transparency. It may be difficult to provide customers and regulators with a reason for rejection or acceptance.

**Task**

Build a machine learning model to predict if an applicant is 'good' or 'bad' client, different from other tasks, the definition of 'good' or 'bad' is not given. You should use some techique, such as vintage analysis to construct you label. Also, unbalance data problem is a big problem in this task.

**Content & Explanation**

There're two tables could be merged by ID:


**application_record.csv**	:
- ID	Client: number
- CODE_GENDER:	Gender
- FLAG_OWN_CAR:	Is there a car
- FLAG_OWN_REALTY:	Is there a property
- CNT_CHILDREN:	Number of children
- AMT_INCOME_TOTAL:	Annual income
- NAME_INCOME_TYPE:	Income category
- NAME_EDUCATION_TYPE:	Education level
- NAME_FAMILY_STATUS:	Marital status
- NAME_HOUSING_TYPE:	Way of living
- DAYS_BIRTH:	Birthday	Count backwards from current day (0), -1 means yesterday
- DAYS_EMPLOYED:	Start date of employment. Count backwards from current day(0). If positive, it means the person currently unemployed.
- FLAG_MOBIL:	Is there a mobile phone
- FLAG_WORK_PHONE:	Is there a work phone
- FLAG_PHONE:	Is there a phone
- FLAG_EMAIL:	Is there an email
- OCCUPATION_TYPE:	Occupation
- CNT_FAM_MEMBERS:	Family size


**credit_record.csv** :
- ID:	Client number
- MONTHS_BALANCE:	Record month. The month of the extracted data is the starting point, backwards, 0 is the current month, -1 is the previous month, and so on
- STATUS	Status	0: 1-29 days past due 1: 30-59 days past due 2: 60-89 days overdue 3: 90-119 days overdue 4: 120-149 days overdue 5: Overdue or bad debts, write-offs for more than 150 days C: paid off that month X: No loan for the month

## Roadmap

In [ ]:
import pandas as pd
import numpy as np

## Data Load

In [ ]:
data_app = pd.read_csv('application_record.csv')

In [ ]:
data_cre = pd.read_csv('credit_record.csv')

## Data Control

In [ ]:
data_app.head()

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0

In [ ]:
data_cre.head()

        ID  MONTHS_BALANCE STATUS
0  5001711               0      X
1  5001711              -1      0
2  5001711              -2      0
3  5001711              -3      0
4  5001712               0      C

In [ ]:
data_app.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438557 entries, 0 to 438556
Data columns (total 18 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ID                   438557 non-null  int64
 1   CODE_GENDER          438557 non-null  object
 2   FLAG_OWN_CAR         438557 non-null  object
 3   FLAG_OWN_REALTY      438557 non-null  object
 4   CNT_CHILDREN         438557 non-null  int64
 5   AMT_INCOME_TOTAL     438557 non-null  float64
 6   NAME_INCOME_TYPE     438557 non-null  object
 7   NAME_EDUCATION_TYPE  438557 non-null  object
 8   NAME_FAMILY_STATUS   438557 non-null  object
 9   NAME_HOUSING_TYPE    438557 non-null  object
 10  DAYS_BIRTH           438557 non-null  int64
 11  DAYS_EMPLOYED        438557 non-null  int64
 12  FLAG_MOBIL           438557 non-null  int64
 13  FLAG_WORK_PHONE      438557 non-null  int64
 14  FLAG_PHONE           438557 non-null  int64
 15  FLAG_EMAIL           438557 non-null  int64
 16  OCCUPATION_TYPE      304354 non-null  object
 17  CNT_FAM_MEMBERS      438557 non-null  float64
dtypes: float64(2), int64(8), object(8)
memory usage: 60.2+ MB

In [ ]:
data_cre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 3 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   ID              1048575 non-null  int64
 1   MONTHS_BALANCE  1048575 non-null  int64
 2   STATUS          1048575 non-null  object
dtypes: int64(2), object(1)
memory usage: 24.0+ MB

### Checking duplicate IDs

In [ ]:
data_app.ID.nunique()

438510

In [ ]:
duplicate_ids = data_app[data_app.duplicated(subset=['ID'], keep=False)].sort_values('ID')
duplicate_ids

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
426818,7022197,M,Y,Y,3,135000.0,Working,Secondary / secondary special,Married,House / apartment,-11945,-735,1,0,0,1,Laborers,5.0
425023,7022197,F,N,Y,0,450000.0,Commercial associate,Higher education,Separated,House / apartment,-19813,-1799,1,0,0,1,NaN,1.0
431545,7022327,F,N,Y,0,135000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-14771,-5298,1,0,0,0,High skill tech staff,1.0
431911,7022327,M,Y,Y,0,256500.0,Commercial associate,Higher education,Married,House / apartment,-21503,-1674,1,0,0,1,Core staff,2.0
425486,7023108,M,Y,Y,1,67500.0,Working,Secondary / secondary special,Married,House / apartment,-15156,-1696,1,1,0,0,Core staff,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426563,7836711,F,N,Y,2,292500.0,Working,Higher education,Married,House / apartment,-13747,-4386,1,0,1,0,Accountants,4.0
421464,7836971,M,Y,N,1,157500.0,Working,Secondary / secondary special,Married,House / apartment,-13771,-5520,1,0,0,0,NaN,3.0
428620,7836971,F,N,Y,0,103500.0,Working,Secondary / secondary special,Civil marriage,House / apartment,-13383,-2798,1,0,1,0,Sales staff,2.0
422068,7838075,M,N,Y,0,337500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-18198,-1275,1,0,0,1,Drivers,2.0
423702,7838075,F,Y,Y,0,315000.0,Commercial associate,Higher education,Single / not married,House / apartment,-10698,-1659,1,0,0,1,NaN,1.0

#### Understanding duplication

In [ ]:
# Grouping duplicate IDs
grouped_duplicates = duplicate_ids.groupby('ID')

# Finding columns that differ
differences = {}

for client_id, group in grouped_duplicates:
    # Find the columns that differ for each group
    diff = group.loc[:, group.nunique() > 1]
    differences[client_id] = diff

# Printing the differences on the screen
for client_id, diff in differences.items():
    print(f"ID: {client_id}")
    print(diff)
    print("\n")

ID: 7022197
       CODE_GENDER FLAG_OWN_CAR  CNT_CHILDREN  AMT_INCOME_TOTAL  \
426818           M            Y             3          135000.0
425023           F            N             0          450000.0

            NAME_INCOME_TYPE            NAME_EDUCATION_TYPE  \
426818               Working  Secondary / secondary special
425023  Commercial associate               Higher education

       NAME_FAMILY_STATUS  DAYS_BIRTH  DAYS_EMPLOYED  CNT_FAM_MEMBERS
426818            Married      -11945           -735              5.0
425023          Separated      -19813          -1799              1.0


ID: 7022327
       CODE_GENDER FLAG_OWN_CAR  AMT_INCOME_TOTAL  \
431545           F            N          135000.0
431911           M            Y          256500.0

                  NAME_EDUCATION_TYPE    NAME_FAMILY_STATUS  DAYS_BIRTH  \
431545  Secondary / secondary special  Single / not married      -14771
431911               Higher education               Married      -21503

        DAYS_EMPLOYED  FLAG_EMAIL        OCCUPATION_TYPE  CNT_FAM_MEMBERS
431545          -5298           0  High skill tech staff              1.0
431911          -1674           1             Core staff              2.0


ID: 7023108
       CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY  CNT_CHILDREN  \
425486           M            Y               Y             1
426488           F            N               N             0

        AMT_INCOME_TOTAL  DAYS_BIRTH  DAYS_EMPLOYED  FLAG_WORK_PHONE  \
425486           67500.0      -15156          -1696                1
426488          135000.0      -17590          -1273                0

       OCCUPATION_TYPE  CNT_FAM_MEMBERS
425486      Core staff              3.0
426488  Cleaning staff              2.0


ID: 7023651
       CODE_GENDER FLAG_OWN_CAR  CNT_CHILDREN  AMT_INCOME_TOTAL  \
425306           F            N             0          225000.0
421907           M            Y             1          157500.0

          NAME_FAMILY_STATUS  DAYS_BIRTH  DAYS_EMPLOYED OCCUPATION_TYPE  \
425306  Single / not married      -10229          -1209     Accountants
421907               Married      -10521          -1457         Drivers

        CNT_FAM_MEMBERS
425306              1.0
421907              3.0


ID: 7024111
       CODE_GENDER FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  \
427778           M               N             2          157500.0
432643           F               Y             0          180000.0

            NAME_INCOME_TYPE NAME_FAMILY_STATUS  DAYS_BIRTH  DAYS_EMPLOYED  \
427778  Commercial associate     Civil marriage      -15270           -117
432643               Working            Married      -22041          -1524

        FLAG_PHONE OCCUPATION_TYPE  CNT_FAM_MEMBERS
427778           0         Drivers              4.0
432643           1     Accountants              2.0


ID: 7036518
       FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  \
424708               Y             0          360000.0
429078               N             1          180000.0

                  NAME_EDUCATION_TYPE  DAYS_BIRTH  DAYS_EMPLOYED  \
424708               Higher education      -15875          -1965
429078  Secondary / secondary special      -13858          -2612

        FLAG_WORK_PHONE OCCUPATION_TYPE  CNT_FAM_MEMBERS
424708                1      Core staff              2.0
429078                0        Laborers              3.0


ID: 7045794
       FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  \
427007               N             0          414000.0
428048               Y             2          225000.0

                  NAME_EDUCATION_TYPE NAME_FAMILY_STATUS  DAYS_BIRTH  \
427007               Higher education          Separated      -20786
428048  Secondary / secondary special            Married      -14431

        DAYS_EMPLOYED  FLAG_PHONE  CNT_FAM_MEMBERS
427007          -1447           0              1.0
428048           -507           1              4.0


ID: 7045885
       CODE_GENDER FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  \
432271           F               N             2          247500.0
426022           M               Y             0           67500.0

            NAME_INCOME_TYPE NAME_FAMILY_STATUS    NAME_HOUSING_TYPE  \
432271  Commercial associate     Civil marriage  Municipal apartment
426022             Pensioner            Married    House / apartment

        DAYS_BIRTH  DAYS_EMPLOYED  FLAG_WORK_PHONE  FLAG_PHONE  \
432271      -14452          -1624                1           1
426022      -20851         365243                0           0

        CNT_FAM_MEMBERS
432271              4.0
426022              2.0


ID: 7046068
        AMT_INCOME_TOTAL NAME_INCOME_TYPE    NAME_FAMILY_STATUS  \
432134          112500.0          Working  Single / not married
424618          135000.0        Pensioner               Married

        NAME_HOUSING_TYPE  DAYS_BIRTH  DAYS_EMPLOYED  FLAG_PHONE  \
432134   Rented apartment      -11888          -2781           0
424618  House / apartment      -22744         365243           1

        CNT_FAM_MEMBERS
432134              1.0
424618              2.0


ID: 7050948
       FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL      NAME_INCOME_TYPE  \
428171               N             0          135000.0  Commercial associate
430746               Y             1           81000.0               Working

          NAME_FAMILY_STATUS  DAYS_BIRTH  DAYS_EMPLOYED  FLAG_WORK_PHONE  \
428171               Married      -12256          -4031                1
430746  Single / not married      -13977           -148                0

        FLAG_PHONE  FLAG_EMAIL
428171           1           1
430746           0           0


ID: 7052783
        CNT_CHILDREN  AMT_INCOME_TOTAL            NAME_EDUCATION_TYPE  \
422660             2          166500.0  Secondary / secondary special
421726             0          157500.0               Higher education

        DAYS_BIRTH  DAYS_EMPLOYED  FLAG_WORK_PHONE  FLAG_PHONE  FLAG_EMAIL  \
422660      -15883          -2697                1           0           1
421726      -13428          -2589                0           1           0

       OCCUPATION_TYPE  CNT_FAM_MEMBERS
422660        Managers              4.0
421726        Laborers              2.0


ID: 7052812
        AMT_INCOME_TOTAL    NAME_FAMILY_STATUS  DAYS_BIRTH  DAYS_EMPLOYED  \
431414          117000.0               Married      -17189          -4523
422119          135000.0  Single / not married      -15002           -123

       OCCUPATION_TYPE  CNT_FAM_MEMBERS
431414        Managers              2.0
422119     Accountants              1.0


ID: 7053557
       FLAG_OWN_CAR  AMT_INCOME_TOTAL            NAME_EDUCATION_TYPE  \
423852            N          315000.0              Incomplete higher
424480            Y          193500.0  Secondary / secondary special

        NAME_HOUSING_TYPE  DAYS_BIRTH  DAYS_EMPLOYED  FLAG_WORK_PHONE  \
423852       With parents      -12417           -245                0
424480  House / apartment      -10439          -2250                1

        FLAG_PHONE  FLAG_EMAIL OCCUPATION_TYPE
423852           1           1        Managers
424480           0           0      Core staff


ID: 7089090
       FLAG_OWN_REALTY  AMT_INCOME_TOTAL      NAME_INCOME_TYPE  \
425539               N          180000.0               Working
426198               Y          189000.0  Commercial associate

                  NAME_EDUCATION_TYPE  DAYS_BIRTH  DAYS_EMPLOYED  FLAG_PHONE  \
425539  Secondary / secondary special      -14167           -735           1
426198              Incomplete higher      -10045          -1730           0

       OCCUPATION_TYPE
425539        Laborers
426198      Core staff


ID: 7090931
       FLAG_OWN_CAR FLAG_OWN_REALTY  AMT_INCOME_TOTAL  \
429834            N               Y          157500.0
423076            Y               N          202500.0

                  NAME_EDUCATION_TYPE NAME_FAMILY_STATUS  DAYS_BIRTH  \
429834               Higher education            Married       -8246
423076  Secondary / secondary special     Civil marriage      -14228

        DAYS_EMPLOYED  FLAG_PHONE  FLAG_EMAIL
429834          -1490           0           1
423076          -5330           1           0


ID: 7091721
       CODE_GENDER  AMT_INCOME_TOTAL      NAME_INCOME_TYPE  \
433666           F           90000.0  Commercial associate
423143           M          441000.0         State servant

                  NAME_EDUCATION_TYPE  DAYS_BIRTH  DAYS_EMPLOYED  \
433666  Secondary / secondary special      -14116          -2269
423143               Higher education      -18766          -8883

        FLAG_WORK_PHONE  FLAG_EMAIL
433666                0           0
423143                1           1


ID: 7099881
        AMT_INCOME_TOTAL      NAME_INCOME_TYPE            NAME_EDUCATION_TYPE  \
432426          112500.0  Commercial associate              Incomplete higher
424224          157500.0             Pensioner  Secondary / secondary special

          NAME_FAMILY_STATUS  DAYS_BIRTH  DAYS_EMPLOYED  FLAG_EMAIL
432426  Single / not married      -10244           -279           1
424224                 Widow      -23066         365243           0


ID: 7135270
        CNT_CHILDREN  AMT_INCOME_TOTAL      NAME_INCOME_TYPE  DAYS_BIRTH  \
433217             0          216000.0             Pensioner      -23113
431201             2          405000.0  Commercial associate      -13662

        DAYS_EMPLOYED  FLAG_EMAIL  CNT_FAM_MEMBERS
433217         365243           0              2.0
431201          -2730           1              4.0


ID: 7137299
       CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY  CNT_CHILDREN  \
423160           M            Y               N             1
426665           F            N               Y             0

        AMT_INCOME_TOTAL    NAME_FAMILY_STATUS  NAME_HOUSING_TYPE  DAYS_BIRTH  \
423160          225000.0               Married  House / apartment      -15243
426665          292500.0  Single / not married   Office apartment      -19679

        DAYS_EMPLOYED  FLAG_WORK_PHONE  FLAG_PHONE        OCCUPATION_TYPE  \
423160          -7260                1           1  High skill tech staff
426665          -2074                0           0         Cleaning staff

        CNT_FAM_MEMBERS
423160              3.0
426665              1.0


ID: 7154598
       CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY  AMT_INCOME_TOTAL  \
427164           M            Y               N          135000.0
432088           F            N               Y          157500.0

            NAME_INCOME_TYPE  DAYS_BIRTH  DAYS_EMPLOYED  FLAG_WORK_PHONE  \
427164               Working      -16101           -430                1
432088  Commercial associate      -17711          -3108                0

              OCCUPATION_TYPE
427164                Drivers
432088  High skill tech staff


ID: 7154819
       CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY  CNT_CHILDREN  \
428168           M            Y               Y             1
427287           F            N               N             0

        AMT_INCOME_TOTAL NAME_INCOME_TYPE    NAME_FAMILY_STATUS  DAYS_BIRTH  \
428168          225000.0          Working               Married      -10518
427287           58500.0        Pensioner  Single / not married      -21971

        DAYS_EMPLOYED  FLAG_WORK_PHONE  CNT_FAM_MEMBERS
428168          -3716                1              3.0
427287         365243                0              1.0


ID: 7155150
       FLAG_OWN_CAR FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  \
429029            N               Y             2           90000.0
422747            Y               N             0          157500.0

       NAME_FAMILY_STATUS  NAME_HOUSING_TYPE  DAYS_BIRTH  DAYS_EMPLOYED  \
429029            Married  House / apartment      -10404          -2073
422747     Civil marriage       With parents      -12918          -1411

        FLAG_WORK_PHONE  FLAG_PHONE  CNT_FAM_MEMBERS
429029                1           1              4.0
422747                0           0              2.0


ID: 7174719
       FLAG_OWN_CAR  AMT_INCOME_TOTAL NAME_INCOME_TYPE  DAYS_BIRTH  \
430756            Y          112500.0          Working      -17835
428911            N           92250.0        Pensioner      -20275

        DAYS_EMPLOYED  FLAG_WORK_PHONE  FLAG_PHONE
430756          -1742                1           1
428911         365243                0           0


ID: 7207977
       FLAG_OWN_REALTY  AMT_INCOME_TOTAL      NAME_INCOME_TYPE  \
427114               Y          315000.0             Pensioner
427883               N          270000.0  Commercial associate

                  NAME_EDUCATION_TYPE    NAME_FAMILY_STATUS  DAYS_BIRTH  \
427114               Higher education               Married      -23688
427883  Secondary / secondary special  Single / not married      -16860

        DAYS_EMPLOYED  CNT_FAM_MEMBERS
427114         365243              2.0
427883          -1002              1.0


ID: 7213374
       FLAG_OWN_CAR  CNT_CHILDREN  AMT_INCOME_TOTAL      NAME_INCOME_TYPE  \
421698            Y             0          148500.0               Working
425724            N             1          270000.0  Commercial associate

                  NAME_EDUCATION_TYPE  DAYS_BIRTH  DAYS_EMPLOYED  \
421698  Secondary / secondary special       -9950           -961
425724               Higher education      -14317          -1052

       OCCUPATION_TYPE  CNT_FAM_MEMBERS
421698        Laborers              2.0
425724        Managers              3.0


ID: 7243768
       CODE_GENDER  AMT_INCOME_TOTAL      NAME_INCOME_TYPE  \
429121           F          157500.0               Working
426018           M          135000.0  Commercial associate

                  NAME_EDUCATION_TYPE  DAYS_BIRTH  DAYS_EMPLOYED  \
429121               Higher education      -16794          -9433
426018  Secondary / secondary special      -19238          -1789

              OCCUPATION_TYPE
429121  High skill tech staff
426018             Core staff


ID: 7282535
       FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL      NAME_INCOME_TYPE  \
428166               N             1          202500.0  Commercial associate
433158               Y             0           63000.0             Pensioner

       NAME_FAMILY_STATUS    NAME_HOUSING_TYPE  DAYS_BIRTH  DAYS_EMPLOYED  \
428166     Civil marriage  Municipal apartment      -16819           -521
433158            Married    House / apartment      -21124         365243

        FLAG_PHONE  CNT_FAM_MEMBERS
428166           0              3.0
433158           1              2.0


ID: 7317997
       CODE_GENDER  AMT_INCOME_TOTAL      NAME_INCOME_TYPE  NAME_HOUSING_TYPE  \
429053           F          135000.0               Working       With parents
423794           M          900000.0  Commercial associate  House / apartment

        DAYS_BIRTH  DAYS_EMPLOYED  FLAG_EMAIL OCCUPATION_TYPE
429053      -12107           -150           1      Core staff
423794      -15962           -941           0        Managers


ID: 7372589
       FLAG_OWN_CAR  AMT_INCOME_TOTAL NAME_INCOME_TYPE    NAME_FAMILY_STATUS  \
422326            N          112500.0        Pensioner                 Widow
432562            Y           94500.0          Working  Single / not married

          NAME_HOUSING_TYPE  DAYS_BIRTH  DAYS_EMPLOYED
422326    House / apartment      -22334         365243
432562  Municipal apartment      -10666          -1093


ID: 7416167
       CODE_GENDER FLAG_OWN_CAR  AMT_INCOME_TOTAL NAME_INCOME_TYPE  \
428802           M            Y          135000.0          Working
428632           F            N          315000.0        Pensioner

          NAME_FAMILY_STATUS  DAYS_BIRTH  DAYS_EMPLOYED  CNT_FAM_MEMBERS
428802  Single / not married      -10083           -523              1.0
428632        Civil marriage      -23092         365243              2.0


ID: 7576316
       CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY  CNT_CHILDREN  \
424151           M            Y               Y             0
426325           F            N               N             1

        AMT_INCOME_TOTAL      NAME_INCOME_TYPE    NAME_FAMILY_STATUS  \
424151           94500.0             Pensioner               Married
426325          405000.0  Commercial associate  Single / not married

        DAYS_BIRTH  DAYS_EMPLOYED  FLAG_WORK_PHONE  FLAG_PHONE
424151      -22407         365243                0           0
426325      -11994           -170                1           1


ID: 7602432
       CODE_GENDER FLAG_OWN_REALTY  AMT_INCOME_TOTAL      NAME_INCOME_TYPE  \
421268           M               Y          315000.0  Commercial associate
421349           F               N          117000.0             Pensioner

       NAME_FAMILY_STATUS  DAYS_BIRTH  DAYS_EMPLOYED  FLAG_PHONE
421268     Civil marriage      -16627          -1304           1
421349            Married      -24708         365243           0


ID: 7603224
       CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY  AMT_INCOME_TOTAL  \
430187           F            N               N           47250.0
425235           M            Y               Y          540000.0

            NAME_INCOME_TYPE  DAYS_BIRTH  DAYS_EMPLOYED  FLAG_EMAIL
430187             Pensioner      -21889         365243           0
425235  Commercial associate      -15971          -3050           1


ID: 7618285
       CODE_GENDER FLAG_OWN_REALTY  AMT_INCOME_TOTAL      NAME_INCOME_TYPE  \
433789           F               Y          157500.0               Working
427016           M               N          135000.0  Commercial associate

          NAME_FAMILY_STATUS  DAYS_BIRTH  DAYS_EMPLOYED  CNT_FAM_MEMBERS
433789  Single / not married      -10113          -1007              1.0
427016               Married      -19726          -2788              2.0


ID: 7636389
       CODE_GENDER FLAG_OWN_REALTY  AMT_INCOME_TOTAL      NAME_INCOME_TYPE  \
422077           M               N          135000.0  Commercial associate
427167           F               Y          112500.0               Working

                  NAME_EDUCATION_TYPE  DAYS_BIRTH  DAYS_EMPLOYED  FLAG_EMAIL
422077               Higher education       -9624           -666           0
427167  Secondary / secondary special      -11367           -513           1


ID: 7636756
        AMT_INCOME_TOTAL NAME_INCOME_TYPE  DAYS_BIRTH  DAYS_EMPLOYED  \
432355           76500.0          Working      -16930           -301
423592          103500.0    State servant      -15205           -455

        FLAG_PHONE OCCUPATION_TYPE
432355           0        Laborers
423592           1      Core staff


ID: 7702238
        AMT_INCOME_TOTAL      NAME_INCOME_TYPE NAME_FAMILY_STATUS  DAYS_BIRTH  \
428986          202500.0               Working            Married      -11979
425624          135000.0  Commercial associate     Civil marriage      -17871

        DAYS_EMPLOYED OCCUPATION_TYPE
428986          -2959     Sales staff
425624          -1743      Core staff


ID: 7702516
        CNT_CHILDREN  AMT_INCOME_TOTAL  DAYS_BIRTH  DAYS_EMPLOYED  \
432379             1          117000.0      -11575          -4270
421211             2          180000.0      -11753          -1256

        FLAG_WORK_PHONE  FLAG_PHONE OCCUPATION_TYPE  CNT_FAM_MEMBERS
432379                0           0  Medicine staff              3.0
421211                1           1     Sales staff              4.0


ID: 7742298
       CODE_GENDER FLAG_OWN_REALTY  AMT_INCOME_TOTAL NAME_FAMILY_STATUS  \
424819           F               Y          144000.0              Widow
430436           M               N          112500.0            Married

        DAYS_BIRTH  DAYS_EMPLOYED  FLAG_WORK_PHONE  CNT_FAM_MEMBERS
424819      -20626          -1455                0              1.0
430436      -18239          -5428                1              2.0


ID: 7742853
       CODE_GENDER  CNT_CHILDREN  AMT_INCOME_TOTAL      NAME_INCOME_TYPE  \

**Conclusion**

Since we cannot make a clear assumption about the reason for the changing data, we will generalize and assume that there are repeated data due to incorrect data entries or changes depending on time, and choose the last one.

#### Drop duplicate IDs

In [ ]:
data_app = data_app.drop_duplicates(subset=['ID'], keep='last')

### Check Null values

In [ ]:
data_app.isnull().sum()

ID                          0
CODE_GENDER                 0
FLAG_OWN_CAR                0
FLAG_OWN_REALTY             0
CNT_CHILDREN                0
AMT_INCOME_TOTAL            0
NAME_INCOME_TYPE            0
NAME_EDUCATION_TYPE         0
NAME_FAMILY_STATUS          0
NAME_HOUSING_TYPE           0
DAYS_BIRTH                  0
DAYS_EMPLOYED               0
FLAG_MOBIL                  0
FLAG_WORK_PHONE             0
FLAG_PHONE                  0
FLAG_EMAIL                  0
OCCUPATION_TYPE        134187
CNT_FAM_MEMBERS             0
dtype: int64

In [ ]:
data_cre.isnull().sum()

ID                0
MONTHS_BALANCE    0
STATUS            0
STATUS_SCORE      0
dtype: int64

#### Take action for Nulls

In [ ]:
data_app['OCCUPATION_TYPE'].fillna('Unknown', inplace=True)

### Checking Columns values

In [ ]:
def unique_values_sorted(df, columns):
    columns = [col for col in columns if col in df.columns]
    unique_values = df[columns].apply(lambda col: sorted(col.unique())).to_dict()
    return unique_values

#### Application Record Data

In [ ]:
from pprint import pprint

In [ ]:
selected_columns = ['CODE_GENDER', 'FLAG_OWN_CAR ', 'FLAG_OWN_REALTY', 'CNT_CHILDREN',
                    'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS',
                    'NAME_HOUSING_TYPE', 'FLAG_MOBIL', 'FLAG_WORK_PHONE', 'FLAG_PHONE',
                    'FLAG_EMAIL', 'OCCUPATION_TYPE ', 'CNT_FAM_MEMBERS']

In [ ]:
result = unique_values_sorted(data_app, selected_columns)
pprint(result)

{'CNT_CHILDREN': [0, 1, 2, 3, 4, 5, 6, 7, 9, 12, 14, 19],
 'CNT_FAM_MEMBERS': [1.0,
                     2.0,
                     3.0,
                     4.0,
                     5.0,
                     6.0,
                     7.0,
                     8.0,
                     9.0,
                     11.0,
                     14.0,
                     15.0,
                     20.0],
 'CODE_GENDER': ['F', 'M'],
 'FLAG_EMAIL': [0, 1],
 'FLAG_MOBIL': [1],
 'FLAG_OWN_REALTY': ['N', 'Y'],
 'FLAG_PHONE': [0, 1],
 'FLAG_WORK_PHONE': [0, 1],
 'NAME_EDUCATION_TYPE': ['Academic degree',
                         'Higher education',
                         'Incomplete higher',
                         'Lower secondary',
                         'Secondary / secondary special'],
 'NAME_FAMILY_STATUS': ['Civil marriage',
                        'Married',
                        'Separated',
                        'Single / not married',
                        'Widow'],
 'NAME_HOUSING_TYPE': ['Co-op apartment',
                       'House / apartment',
                       'Municipal apartment',
                       'Office apartment',
                       'Rented apartment',
                       'With parents'],
 'NAME_INCOME_TYPE': ['Commercial associate',
                      'Pensioner',
                      'State servant',
                      'Student',
                      'Working']}

**Conclusion**

The FLAG_MOBIL column contains only a single unique value (1), which means it does not carry any information for your model and will be removed from the dataset.

We can start creating the **scenario** at this step: Part-1

Let's begin by manipulating the CNT_CHILDREN and CNT_FAM_MEMBERS data.

First, calculate the number of adults in the family and add this information to our dataset. Then, drop the columns we have worked on.

In [ ]:
data_app.drop('FLAG_MOBIL', inplace=True, axis = 1)

In [ ]:
data_app['CNT_ADLT_FAM_MEMBERS'] = data_app['CNT_FAM_MEMBERS'] - data_app['CNT_CHILDREN']
data_app.loc[data_app['CNT_ADLT_FAM_MEMBERS'] <= 0, 'CNT_ADLT_FAM_MEMBERS'] = data_app['CNT_FAM_MEMBERS']

In [ ]:
data_app.drop(columns=['CNT_CHILDREN', 'CNT_FAM_MEMBERS'], inplace=True)

In [ ]:
selected_columns.append('CNT_ADLT_FAM_MEMBERS')

In [ ]:
result = unique_values_sorted(data_app, selected_columns)
pprint(result)

{'CNT_ADLT_FAM_MEMBERS': [1.0, 2.0],
 'CODE_GENDER': ['F', 'M'],
 'FLAG_EMAIL': [0, 1],
 'FLAG_OWN_REALTY': ['N', 'Y'],
 'FLAG_PHONE': [0, 1],
 'FLAG_WORK_PHONE': [0, 1],
 'NAME_EDUCATION_TYPE': ['Academic degree',
                         'Higher education',
                         'Incomplete higher',
                         'Lower secondary',
                         'Secondary / secondary special'],
 'NAME_FAMILY_STATUS': ['Civil marriage',
                        'Married',
                        'Separated',
                        'Single / not married',
                        'Widow'],
 'NAME_HOUSING_TYPE': ['Co-op apartment',
                       'House / apartment',
                       'Municipal apartment',
                       'Office apartment',
                       'Rented apartment',
                       'With parents'],
 'NAME_INCOME_TYPE': ['Commercial associate',
                      'Pensioner',
                      'State servant',
                      'Student',
                      'Working']}

**Scenario Evaluation**

The newly created CNT_ADLT_FAM_MEMBERS data will show us whether there are adults around the person who can provide support.

The underlying logic: As is well known, the foundation of banking is built on the payments it receives from its customers. Here, we focused more on the number of people who can assist the customer with their payments rather than the number of dependents the customer has, and we created a new feature for ourselves.

#### Credit Record Data

**Introduction**

We need to understand the logic behind this dataset. In short, it contains payment information for customers who use credit cards.

In [ ]:
selected_columns = ['STATUS']

In [ ]:
result = unique_values_sorted(data_cre, selected_columns)
pprint(result)

{'STATUS': {0: '0', 1: '1', 2: '2', 3: '3', 4: '4', 5: '5', 6: 'C', 7: 'X'}}

**Continuing Our Scenario: Part-2**
Let's continue the fun by gradually building our main story.
At this stage, let's start approaching the logic of Turkish banking. Let's examine the main information that will help us get an idea:
- Very good – 1700-1900. (Credit card is given with eyes closed)
- Good – 1500-1699. (Credit card can be given with one eye closed)
- Normal – 1100-1499. (Credit card can be given with eyes open)
- Medium risk – 700-1099. (Credit card is not given with eyes open)
- Risky – 1-699. (Credit card is not given with one eye closed)
- High risk – 0. (Credit card is not given with eyes closed)

To keep up with our scenario, let's start scoring in this dataset.

- 0: 1-29 days past due => -5 points
- 1: 30-59 days past due => -10 points
- 2: 60-89 days overdue => -15 points
- 3: 90-119 days overdue => -20 points
- 4: 120-149 days overdue => -25 points
- 5: Overdue or bad debts, write-offs for more than 150 days => -50 points
- C: paid off that month => 10 points
- X: No loan for the month => 0 points

The scoring might be a bit harsh or unrealistic, but let's remember that our goal is not to reach the truth but to get as close to it as possible.

In [ ]:
# Score map
status_score_map = {
    '0': -5,
    '1': -10,
    '2': -15,
    '3': -20,
    '4': -25,
    '5': -50,
    'C': 10,
    'X': 0
}

# Calculate points based on STATUS column
data_cre['CREDIT_SCORE'] = data_cre['STATUS'].map(status_score_map)

# Calculate total score for each customer
result = data_cre.groupby('ID')['CREDIT_SCORE'].sum().reset_index()

In [ ]:
result

            ID  CREDIT_SCORE
0      5001711           -15
1      5001712            40
2      5001713             0
3      5001714             0
4      5001715             0
...        ...           ...
45980  5150482             0
45981  5150483             0
45982  5150484           -50
45983  5150485           -10
45984  5150487           300

[45985 rows x 2 columns]

### Merge Datasets

In [ ]:
# Join by ID column (outer join)
merged_df = pd.merge(data_app, result, on='ID', how='outer')

In [ ]:
merged_df.isnull().sum()

ID                           0
CODE_GENDER               9528
FLAG_OWN_CAR              9528
FLAG_OWN_REALTY           9528
AMT_INCOME_TOTAL          9528
NAME_INCOME_TYPE          9528
NAME_EDUCATION_TYPE       9528
NAME_FAMILY_STATUS        9528
NAME_HOUSING_TYPE         9528
DAYS_BIRTH                9528
DAYS_EMPLOYED             9528
FLAG_WORK_PHONE           9528
FLAG_PHONE                9528
FLAG_EMAIL                9528
OCCUPATION_TYPE           9528
CNT_ADLT_FAM_MEMBERS      9528
CREDIT_SCORE            402053
dtype: int64

**Senaryo devam : Part-3**

Kredi geçmişi bulunmayanlara biraz destek atalım.

In [ ]:
# Assigning "Unknown" to columns other than CREDIT_SCORE
merged_df.fillna({
    'CODE_GENDER': 'Unknown',
    'FLAG_OWN_CAR': 'Unknown',
    'FLAG_OWN_REALTY': 'Unknown',
    'AMT_INCOME_TOTAL': 'Unknown',
    'NAME_INCOME_TYPE': 'Unknown',
    'NAME_EDUCATION_TYPE': 'Unknown',
    'NAME_FAMILY_STATUS': 'Unknown',
    'NAME_HOUSING_TYPE': 'Unknown',
    'DAYS_BIRTH': 'Unknown',
    'DAYS_EMPLOYED': 'Unknown',
    'FLAG_WORK_PHONE': 'Unknown',
    'FLAG_PHONE': 'Unknown',
    'FLAG_EMAIL': 'Unknown',
    'OCCUPATION_TYPE': 'Unknown',
    'CNT_ADLT_FAM_MEMBERS': 'Unknown'
}, inplace=True)

# Assigning the value 50 to the CREDIT_SCORE column
merged_df['CREDIT_SCORE'].fillna(50, inplace=True)

In [ ]:
merged_df

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_ADLT_FAM_MEMBERS,CREDIT_SCORE
0,5008804,M,Y,Y,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005.0,-4542.0,1.0,0.0,0.0,Unknown,2.0,115.0
1,5008805,M,Y,Y,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005.0,-4542.0,1.0,0.0,0.0,Unknown,2.0,105.0
2,5008806,M,Y,Y,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474.0,-1134.0,0.0,0.0,0.0,Security staff,2.0,35.0
3,5008808,F,N,Y,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110.0,-3051.0,0.0,1.0,1.0,Sales staff,1.0,-10.0
4,5008809,F,N,Y,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110.0,-3051.0,0.0,1.0,1.0,Sales staff,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
448033,5122361,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,-35.0
448034,5122362,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,-40.0
448035,5122363,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,-55.0
448036,5122364,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,-95.0
448037,5122365,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,0.0